body{
    font-family: 'Zen Tokyo Zoo', cursive;
    margin: 0;
}
h1{
    font-size: 60px;
    color: rgb(5, 129, 123);
}
.fcolor{
    color: rgb(226, 71, 154);
    font-family: 'Alex Brush', cursive;
}
p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h3{
    color: rgb(104, 20, 104);
}
section{
    display: flex;
}
.half-width{
    width: 50%;
    padding: 5%;
}
.half-width img{
    width: 80%;

}
div p{
    text-align: justify;
}
.link-button{
    text-decoration: none;
    color: rgb(19, 4, 71);
    background-image: linear-gradient(rgb(231, 87, 111),salmon);
    padding: 8px 40px;
    border-style: solid;
    border-width: 5px;
    border-color: rgb(21, 9, 92);
    border-radius: 15px;
    font-weight: 700;
    
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}